<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="All Test Suite" parallel="methods" thread-count="2">


    <test name="regression">
        <groups>
            <run>

                <include name="smoke"/>

            </run>
        </groups>
        <classes>
            <class name="tests.GoogleTest"/>
            <class name="tests.SauceTest"/>
            <class name="tests.GitHubTest"/>
        </classes>
    </test>


</suite>